<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid" style="display:flex;justify-content: space-around;">

      <div class="navbar-nav" style="display: flex;flex-direction: row;">
        <a class="nav-link" style="display: flex;" routerLink="/cart"><span class="material-symbols-outlined">
            shopping_cart
          </span> عربه التسوق </a>
        <a class="nav-link mx-3" routerLink="/All-products" style="display: flex;"><span
            class="material-symbols-outlined mx-1">
            storefront
          </span>المنتجات </a>
      </div>
      <a routerLink="/All-products" class="navbar-brand" style="font-weight: bolder;font-size:26px">Amazon.eg</a>

    </div>
  </nav>
</body>

</html>